.hintergrund-image {
  background-image: url('hintergrund.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh; /* Hier kannst du die Höhe des Hintergrunds anpassen */
  color: white; /* Textfarbe auf dem Hintergrund */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Hier kannst du die Farbe und die Transparenz des Überlagerungs-Elements anpassen */
  }
  

  .header-container{
    background-color: black;
  }

  .logo{
    color: white;
  }

.logo-col{
    position: absolute;
    top: 0;
    left: 0;
}

.button-col{
    position: absolute;
    top: 0;
    right: 0;
}

.svg{
    width: 50px;
    height: 50px;
}

.lhamo{
    font-size: 1em;
}

main{
    margin-top: 10em;
}

.name{
    margin-top: -0.5em;
    display: flex;
    justify-content: center;
    font-size: 12em;
    color: white;
    font-family: 'Concert One', sans-serif;
    font-family: 'Leckerli One', cursive;
    font-family: 'Oswald', sans-serif;
    display: block; 
    text-align: center;

}
  
.first-letter {
    color: black; /* Textfarbe */
    text-shadow: -3px -3px 0 white,  
                  3px -3px 0 white,
                 -3px 3px 0 white,
                  3px 3px 0 white; /* Textschatten mit blauer Farbe */
  
  }


.name-container{
    margin-bottom: 4em;
    display: flex;
    justify-content: center;
}

.offcanvas{
    background-color: black;
    color: white;
}

.nav-link{
    display: flex;
    justify-content: center;
    font-family: 'Concert One', sans-serif;
    font-family: 'Leckerli One', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
}

.btn{
    color: white;
}

.logo{
    margin-left: 1em;
}

.titel-projekte{
    display: flex;
    justify-content: center;
    font-family: 'Concert One', sans-serif;
    font-family: 'Leckerli One', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    color: white;
    margin-top: 5em;
}

  .name-heading {
    display: block; /* H1-Tags als blockierte Elemente anordnen (untereinander) */
    margin: 10px 0; /* Optional: Abstand zwischen den H1-Tags */
  }

  .titel{
    color: #789461;
    transform: rotate(-90deg); 
  transform-origin: left top; 
  position: absolute;
  left: 20px;
  top: 20px;
  font-family: 'Concert One', sans-serif;
    font-family: 'Leckerli One', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 10em;
    margin-top: 9em;
    margin-bottom: 3em;
  }

  .colored-aboutme{
   margin-top: 12.4em;
  /* Der Bereich nimmt die gesamte Breite des Bildschirms ein */
  /*height: 200px; /* Ändere die Höhe nach Bedarf */
  }

  .aboutMe-p{
    color: black;
    font-size: large;
}

.aboutMe-h2{
  color: #789461;
  font-family: 'Concert One', sans-serif;
    font-family: 'Leckerli One', cursive;
    font-family: 'Oswald', sans-serif;
}

.foto{
  margin-top: 3em;
}

/*.text-aboutme{
  margin-top: 2em;
  max-width: 50em;
  margin-left: -60em;
} */


.col-foto{
  margin-right: -5em;
  display: flex;
  justify-content: center;
}
s
.reihe2{
  margin-top: 1.75em;
}

.line-container {
  width: 80%; /* Breite des Containers, in dem der Strich zentriert wird */
  margin: 0 auto; /* Zentrieren des Containers */
  margin-top: 2em;
}

.styled-line {
  border: none; /* Entfernen der Standard-Border des hr-Tags */
  height: 2px; /* Höhe des Strichs */
  background-color: #000; /* Farbe des Strichs */
  margin-top: 6em;
}

.text-projekte{
  color: #789461;
  font-family: 'Concert One', sans-serif;
    font-family: 'Leckerli One', cursive;
    font-family: 'Oswald', sans-serif;
    margin-top: 2em;
    text-align: center;
    font-size: 4em;
}

.card-container {
  display: flex;
  justify-content: space-between; /* Optional: Karten gleichmäßig über den verfügbaren Platz verteilen */
}

.card {
  width: 25rem;
  margin-top: 2em; 
    transition: transform 0.3s, border-color 0.3s; /* Übergangseffekt für Transformation und Randfarbe */
    border: 1px solid transparent;
}

.card:hover {
  transform: scale(1.05); /* Vergrößern der Karte beim Überfahren mit der Maus */
  border-color: #789461; /* Ändern der Randfarbe beim Überfahren mit der Maus */
  cursor: pointer; /* Mauszeiger ändern, um anzuzeigen, dass die Karte anklickbar ist */
}

.card-img-top {
  width: 100%;
  height: 300px; /* Höhe des Bildes anpassen */
  object-fit: cover; /* Skalieren des Bildes, um es in den Rahmen zu passen */
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.col-card{
  display: flex;
  justify-content: center;
}

.title-eatfresh{
  color: #789461;
}

.title-spotymood{
color: #789461;
}

.title-roomescaper{
  color: #789461;
  }

  .title-bakeflix{
    color: #789461;
    }

    .card-border-red{
      border-color: red;
    }

    .container-projects{
      width: 100%;
      background-color: #EEF0E5;
      margin-top: 5em;
      margin-bottom: 5em;
    }

    .container-space{
      width: 100%;
      background-color: #EEF0E5;
    }

    .container-aboutme{
      display: flex;
      justify-content: center;
    }